
@{
}

<style>
    .description {
        color: white;
    }

        .description p {
            font-size: 80%;
        }

    .subscribe-form {
        font-size: large;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 3px;
    }
</style>

<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
    <h3 class="sidebar-heading">Abone Ol</h3>
    <input type="email" class="subscribe-form mb-3" placeholder="Email Adresi">
    <button class="btn btn-secondary w-100">Abone Ol</button>
</div>
