@{
    ViewData["Title"] = "Home Page";

}

<div class="hero-wrap js-fullheight" style='background-image: url("./images/bg.gif");' data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url('./images/profile.png');"></div>
            <div class="desc">
                <h2 class="subheading text-light">Selam, Ben</h2>
                <h1 class="mb-4">Ömer Faruk Sandıkçı</h1>
                <p class="mb-4 text-light">Bir şirkette .Net Core Developer olarak görev alıyorum. Ayrıca projeler geliştirerek bilgi kazanmaya devam ediyorum. Geliştirmemi istediğiniz veya yardımcı olmamı istediğiniz bir konu varsa iletişime geçebilirsiniz. :)</p>
            </div>
        </div>
    </div>
</div>